nav{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 99;
    background-color: palevioletred ;
    }
    nav .logo{
    flex: 1;
    color: palevioletred;
    text-shadow: 0 0 2px white;
    margin-left: 50px;
    }
    nav ul{
    flex: 2;
    display: flex;
    justify-content: space-evenly;
    }
    nav ul li{
    list-style: none;
    }
    nav ul li a{
    text-decoration: none;
    color: whitesmoke;
    font-size: 1.2em;
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px 15px;
    }
    
    nav ul li a:hover{
    border-bottom: 2px solid purple;
    }
    nav .menu{
    font-size: 2.5em;
    display: none;
    }
  
    @media (max-width:1000px){
      nav ul{
      position: fixed;
      top:100px;
      right: -100%;
      background: whitesmoke;
      height: calc(100vh - 100px);
      width: 50%;
      flex-direction: column;
      align-items: center;
      transition: right 0.5s linear;
      }
      nav .menu{
      display: block;
      width: 100px;
      text-align: center;
      }

    }

    footer{
        background-color:rgb(105, 38, 105);
        text-align: center;
        margin-top: 20px;
        padding: 20px;
    }
    
    footer h5{
        color: black;
        font-family: 'PT Sans', sans-serif;
    }

    .section{
        text-align: center;
    }

    #contacts img {
        height: 50px;
        width: 50px;
        margin-left: 7px;
        margin-right: 7px;
    }
    #contacts a {
        text-decoration: none;
    }
    #contacts img:hover {
        opacity: 0.8;
    }
    #contacts {
        text-align: center;
    }

.about h2{
    color: violet;
    font-family: 'Nanum Myeongjo',sans-serif;
}

.about p{
    font-family: 'Questrialfamily Roboto',sans-serif;
}

    input[type=email]{
        width: 20%;
        padding: 10px;
        border: 1px solid blueviolet;
        border-radius: 10px;
        box-sizing: border-box;
        resize: vertical;
        background-color: transparent;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    input[type=text]{
        width: 20%;
        padding: 10px;
        border: 1px solid blueviolet;
        border-radius: 10px;
        box-sizing: border-box;
        resize: vertical;
        background-color: transparent;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    textarea{
        width: 20%;
        padding: 10px;
        border: 1px solid blueviolet;
        border-radius: 10px;
        box-sizing: border-box;
        resize: vertical;
        background-color: transparent;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    input[type=submit]{
        width: 10%;
        padding: 10px;
        border: 1px solid blueviolet;
        border-radius: 10px;
        box-sizing: border-box;
        resize: vertical;
        background-color: blueviolet;
        display: block;
        margin-left: auto;
        margin-right: auto;
        color: white;
    }


    @media screen and (max-width:414px){
        input[type=Name]{
            width: 50%;
        }
        input[type=Email]{
            width: 50%;
        }
        button{
            width: 25%;
        }
    }
    
    @media screen and (max-width:1024px){
        input[type=password]{
            width: 60%;
        }
        input[type=Email]{
            width: 60%;
        }
        button{
            width: 30%;
        }
    }
    @media (max-width:500px){
      nav .logo{
      margin-left: 10px;
      }
      .logo h1{
      font-size: 1.5em;
      }
      nav ul{
      width: 100%;
      }
    }
    